.eventWindow
{
	background-color: #0096FF;
    font-family: sans-serif;
}

.homePage
{
	background-color: #0096FF;
    font-family: sans-serif;
}

.h1
{
	padding: 10px;
	color: "white";
	font-family: sans-serif;
}

.eventCard
{
	padding: 100px;
	background-color: "white";
	font-family: sans-serif;
}