.my-events-card{
    
    margin: auto;
    text-align: center;
    padding: 10px;
    max-width: fit-content;
    align-self: center;
    align-content: center;
    
}

.listevents ul{
   margin: auto; 
   padding: 10px;
   width:inherit;
   list-style-type: none;
   border-radius: 28%;
   max-height: inherit;
   align-self: inherit;
   align-items: center;
   
}


.my-event {

    list-style-type: none;
    width: 500px;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    border-radius: 15px;
    margin: 25px;
    background-color: whitesmoke;
   
    align-self: center;
    
    float: inherit;
    text-align: center;
}
